
.githab 2023_04_16/

.gitlab 2023_02_25/

SpaceOdyssey.Debug.Win/obj/

.vs/

SpaceOdyssey.Debug.Win/bin/

SpaceOdyssey.Cosmodynamics/bin/

SpaceOdyssey.Cosmodynamics/obj/

SpaceOdyssey.Cosmodynamics.NFX/bin/

SpaceOdyssey.Cosmodynamics.NFX/obj/

SpaceOdyssey.Kernel/bin/

SpaceOdyssey.Kernel/obj/

SpaceOdyssey.Kernel.Tests/bin/

SpaceOdyssey.Kernel.Tests/obj/

src/SpaceOdyssey.Kernel.Tests/bin/

src/SpaceOdyssey.Kernel.Tests/obj/

src/SpaceOdyssey.Kernel/bin/

src/SpaceOdyssey.Kernel/obj/

src/SpaceOdyssey.Cosmodynamics/bin/

src/SpaceOdyssey.Cosmodynamics/obj/

src/SpaceOdyssey.Cosmodynamics.Tests/bin/

src/SpaceOdyssey.Cosmodynamics.Tests/obj/

_1/SpaceOdyssey.Cosmodynamics/bin/

_1/SpaceOdyssey.Cosmodynamics/obj/

_1/SpaceOdyssey.Cosmodynamics.Tests/bin/

_1/SpaceOdyssey.Cosmodynamics.Tests/obj/

_1/SpaceOdyssey.Kernel/bin/

_1/SpaceOdyssey.Kernel/obj/

_1/SpaceOdyssey.Kernel.Tests/bin/

_1/SpaceOdyssey.Kernel.Tests/obj/

src/SpaceOdyssey.WinDebug/bin/

src/Archimedes.Geometry/bin/

src/Archimedes.Geometry/obj/

src/SpaceOdyssey.WinDebug/obj/

_2/SpaceOdyssey.Kernel/bin/

_2/SpaceOdyssey.Kernel/obj/

_2/SpaceOdyssey.Kernel.Tests/bin/

_2/SpaceOdyssey.Kernel.Tests/obj/

src/SpaceOdyssey.Core/bin/

src/SpaceOdyssey.Core/obj/

src/SpaceOdyssey.Core.Tests/bin/

src/SpaceOdyssey.Core.Tests/obj/

src/SpaceOdyssey.DebugConsole/bin/

src/SpaceOdyssey.DebugConsole/obj/

src/_1/

src/Archimedes/obj/

src/Archimedes/bin/

src/Archimedes.Tests/bin/

src/Archimedes.Tests/obj/

src/boat/

src/boat2/
